---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Industry Leader</h2>
		<p>Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</section>

<style>
	.box {
		@apply rounded-xl p-6;
		border: 1px solid var(--gray-800);
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);

		@media (min-width: 50em) {
			& {
				@apply rounded-3xl p-10;
			}
		}
	}

	.skills {
		@apply flex flex-col gap-12;

		@media (min-width: 50em) {
			& {
				@apply grid grid-cols-3 gap-20;
			}
		}

		& h2 {
			@apply text-2xl my-3;
			color: var(--gray-100);

			@media (min-width: 50em) {
				& {
					@apply text-4xl;
				}
			}
		}

		& p {
			color: var(--gray-400);
		}
	}
</style>
