@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .logo {
    content: url("../assets/logo.svg");
  }
}

/* Global variables */
:root {
  /* Colors */
  --gray-0: #090b11;
  --gray-50: #141925;
  --gray-100: #283044;
  --gray-200: #3d4663;
  --gray-300: #505d84;
  --gray-400: #6474a2;
  --gray-500: #8490b5;
  --gray-600: #a3acc8;
  --gray-700: #c3cadb;
  --gray-800: #e3e6ee;
  --gray-900: #f3f4f7;
  --gray-999-basis: 0, 0%, 100%;
  --gray-999_40: hsla(var(--gray-999-basis), 0.4);
  --gray-999: #ffffff;

  --accent-light: #c561f6;
  --accent-regular: #7611a6;
  --accent-dark: #1c0056;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--accent-regular);

  /* Gradients */
  --gradient-stop-1: var(--accent-light);
  --gradient-stop-2: var(--accent-regular);
  --gradient-stop-3: var(--accent-dark);
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-dark)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  /* Shadows */
  --shadow-sm:
    0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
    0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md:
    0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
    0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg:
    0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
    0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

  /* Fonts */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Public Sans", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
}

:root.theme-dark {
  --gray-0: #ffffff;
  --gray-50: #f3f4f7;
  --gray-100: #e3e6ee;
  --gray-200: #c3cadb;
  --gray-300: #a3acc8;
  --gray-400: #8490b5;
  --gray-500: #6474a2;
  --gray-600: #505d84;
  --gray-700: #3d4663;
  --gray-800: #283044;
  --gray-900: #141925;
  --gray-999-basis: 225, 31%, 5%;
  --gray-999: #090b11;

  --accent-light: #1c0056;
  --accent-regular: #7611a6;
  --accent-dark: #c561f6;
  --accent-overlay: hsla(280, 89%, 67%, 0.33);
  --accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
  --accent-text-over: var(--gray-0);

  --link-color: var(--accent-dark);

  --gradient-stop-1: #4c11c6;
  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 81%
  );
  --gradient-accent-orange: linear-gradient(
    150deg,
    #ca7879,
    var(--accent-regular),
    var(--accent-light)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

  --shadow-sm:
    0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
    0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
  --shadow-md:
    0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(
      255,
      255,
      255,
      0.03
    ),
    0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
  --shadow-lg:
    0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(
      255,
      255,
      255,
      0.05
    ),
    0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(
      255,
      255,
      255,
      0.12
    );
}

html,
body {
  @apply h-full overflow-x-hidden;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  @apply bg-white text-black dark:bg-black dark:text-white text-base;
}

*,
*::after,
*::before {
  @apply m-0 box-border;
}

img {
  @apply max-w-full h-auto;
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-semibold text-xl text-gray-950 dark:text-gray-50;
  font-family: var(--font-brand);
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply text-4xl;
}

h5 {
  @apply text-3xl;
}

h6 {
  @apply text-2xl;
}

.wrapper {
  @apply w-full max-w-7xl;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  @apply flex flex-col;
}
